html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Work Sans',
    sans-serif;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
}

li {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}

#navbar {
  z-index: 999;
}

.carousel-inner {
  margin-top: -50px;
  cursor: pointer;
}

.banner {
  max-height: 600px;
}

.head-desc {
  margin-top: 50px;
  font-size: 30px;
  padding: 0 30px;
}

.card {
  border: none;
}

.row {
  padding: 10px;
  overflow: hidden;
  margin: 0;
}

.img-thumbnail {
  border: 0.5px solid #bababa;
  max-width: 300px;
}

.card {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card:hover .image {
  opacity: 0.5;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.card:hover .middle {
  opacity: 1;
}

.text {
  background-color: #000000;
  color: white;
  font-size: 16px;
  padding: 10px 13px;
  border-radius: 50%;
  cursor: pointer;
}

.btn-top {
  padding: 10px 30px;
  border: 1px solid #000;
  margin-top: 10px;
  width: 100%;
}

.top-right {
  margin-left: 4px;
}

.shpee {
  margin-top: 10px;
}

.modal-footer {
  margin: 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.modal-body {
  padding: 50px;
  align-items: center;
}

.discount {
  text-decoration: line-through;
  color: rgb(185, 185, 185);
  margin-left: 10px;
}

.star {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

.facebook {
  color: #4183ff;
  font-size: 25px;
}

.rev-blue {
  color: #119EFF;
}

.rate {
  color: #606063;
}

.item-desc {
  font-weight: 300;
  margin-top: 10px;
}

.item-price {
  font-weight: 300;
}

.item-top {
  margin-top: 20px;
}

.hero-kategori {
  width: 100%;
  padding: 20px;
}

.twokids {
  border: none;
  cursor: pointer;
}

.marq-head {
  font-weight: 800;
  font-size: 40px;
  color: #ff9442;
}

.marq-desc {
  color: #fff;
  -webkit-text-stroke: 1px #ff9442;
  font-weight: 800;
  font-size: 40px;
  margin-right: 60px;
}

.marq-inner {
  left: -97%;
  position: relative;
}

.marq-inner-right {
  right: -97%;
  position: relative;
}

.brand {
  background-color: whitesmoke;
}

.container-phanda {
  justify-content: space-between;
}

.phanda-wrap {
  display: flex;
  padding: 30px;
  flex-direction: column;
}

.no-border {
  border: none;
}

.btn-brand {
  margin-top: 20px;
  border: 1px solid #000;
  width: 40%;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}

.col-6 {
  margin-top: 30px;
}

#accordion {
  padding: 10px 90px;
}

.newSeason {
  margin-top: 50px;
  display: flex;
  margin-bottom: 50px;
}

.nsItem {
  flex: 1;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nsImg {
  width: 100%;
  height: 500px;
}

.nsTitle {
  font-size: 40px;
}

.nsButton {
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
}

#testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
  background-color: whitesmoke;
}

.testimonial-heading {
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-heading h1 {
  font-size: 30px;
  font-weight: 800;
  color: #000;
}

.testimonial-heading span {
  font-size: 1.3rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.testimonial-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.testimonial-box {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile {
  display: flex;
  align-items: center;
}

.name-user {
  display: flex;
  flex-direction: column;
}

.name-user strong {
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.name-user span {
  color: #979797;
  font-size: 0.8rem;
}

.reviews {
  color: #f9d71c;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.client-comment p {
  font-size: 0.9rem;
  color: #4b4b4b;
}

.testimonial-box:hover {
  transform: translateY(-10px);
  transition: all ease 0.3s;
}

@media(max-width:1060px) {
  .testimonial-box {
    width: 45%;
    padding: 10px;
  }
}

@media(max-width:790px) {
  .testimonial-box {
    width: 100%;
  }

  .testimonial-heading h1 {
    font-size: 1.4rem;
  }
}

@media(max-width:340px) {
  .box-top {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .reviews {
    margin-top: 10px;
  }
}

::selection {
  color: #ffffff;
  background-color: #252525;
}


.f-list {
  padding: 0;
}

.pro {
  padding: 1.25rem 90px;
}

.f-item {
  cursor: pointer;
  margin-top: 10px;
}

.foot-txt {
  margin-left: 10px;
}

.floating {
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  align-items: center;
}

.wa {
  margin-top: 15px;
}

@media (max-width:480px) {
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
  }

  #hero-banner {
    margin-top: 100px;
  }

  .col-sm-3 {
    margin-top: 30px;
    margin-left: 50px;
  }

  .hero-kategori .row {
    margin: 0;
  }

  .container-phanda {
    display: flex;
    flex-direction: column;
  }

  .pro {
    padding: 1.25rem;
  }

  #accordion {
    padding: 5px 10px;
  }

  .newSeason {
    flex-direction: column;
  }

  .nsItem:nth-child(2) {
    padding: 50px;
  }

  .nsImg {
    width: 100%;
    height: 400px;
  }
}